.full-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: yellowgreen;
}

.nav-item {
  padding: 2rem 1rem;
  color: white;
}

.nav-item:hover {
}

.login-btn {
  background-color: #5a5c50;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  border: 3px;
}

.login-btn:hover {
}
